version: 2
ethernets:
  id0:
    match:
      macaddress: "${mac}"
    addresses:
      - ${ip}/24
    routes:
      - to: default
        via: 192.168.100.1
    nameservers:
      addresses:
        - 192.168.100.1
